*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // font-size has been defined in base instead of typography because it defines 1rem

  @include respond(xlg) {
    font-size: 75%;
  }
  @include respond(lg) {
    font-size: 62.5%;
  }
  @include respond(md) {
    font-size: 56.25%;
  }
  @include respond(sm) {
    font-size: 50%;
  }
  @include respond(xs) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(sm) {
    padding: 0;
  }
}
